@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* nav design */

.navbar {
  justify-content: space-between;
  display: flex;
  max-width: 1200px;
  height: 69px;
  margin: 0 auto;
  align-items: center;
  background-color: rgba(65, 37, 103, 1);
}

#brand-logo {
  display: flex;
  align-items: center;
  padding-left: 10rem;
  color: white;
  
}
.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}
.link-item {
  list-style-type: none;
  text-decoration: none;
}
.link-info {
  text-decoration: none;
  color: white;
}

.btn-primary {
  padding: 12px 16px;
  border-radius: 25px;
  font-weight: 135px;
  word-spacing: 10px;
  display: flex;
  border: none;
  align-items: center;
  height: 30px;
  color: white;
  background-image: linear-gradient(
    40deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
}
.wave-gradient {
  background: linear-gradient(to right,#ff3e7f,#9b51e0,#3a86ff);
  -webkit-background-clip: text;
  color:transparent !important;
  display:inline-block;
}
.han-icon {
  display: flex;
  align-items: center;
  padding-right: 1.25rem;
  display: none;
}
.fa-solid {
  color: white;
  height: 24px;
  width: 1.5rem;
  padding: 5.25px 3px;
}
span {
  padding-right: 10rem;
  display: flex;
  align-items: center;
}
/* banner design */

.hero-banner{
  max-width: 1200px;
  height:700px;
  background-image: url(./assets/hero-bg.png);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.logo-banner{
  background-image: url(./assets/hero-circle.png);
  background-repeat: no-repeat;
  width: 15.625rem;
  height: 250px;
  background-size:contain;
  background-position: center;
  
  
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  margin-top: 2.18rem;
  position:relative;
  display:inline-block;

}
.new-badge{
  position:absolute;
  top:-10px;
  right:-105px;
  background-color: #58d68d;
  color:white;
  font-size: 20px;
  padding: 7px 18px;
  border-radius: 15px;
  

}
.hero-heading{
  width:34.37rem;
  height:73px;
  font-weight: 800;
  font-size: 3.75rem;
  color: rgba(255, 255, 255, 1);
  margin-top: 30px;

}
.hero-para{
  width:34.37rem;
  height:19px;
  opacity: 80%;
  font-weight: 400;
  font-size: 1rem;
  color: rgba(255, 255, 255, 1);
  margin-top: 10px;

}
.button{
  display: flex;
  align-items: center; 
 
 padding:1.2rem;
  gap:10px;
  box-sizing: border-box;
 
}
 .btn-spotify{
  width:12.56rem;
  height: 44px;
  /* padding: 12px 20px; */
  background-color:rgb(5, 5, 72);
  color:white;
  border-radius: 15px;
   
  background-image: linear-gradient(
    40deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  
}
 .btn-sub{
  width:9.18rem;
  height: 35px;
  background-color: rgb(5, 5, 72);
  border-radius: 15px;
  color:rgba(0, 255, 136, 1);
  border:1px solid rgba(0, 255, 136, 1);
  font-weight: 600;
 
} 




/* about section design */




.about {
  background-color: rgba(26, 11, 46, 1);
  max-width: 1200px;
  height: 450px;
  margin: 0 auto;
}
.about-content {
  text-align: center;
  color: white;
  margin-top: 3.12rem;
  margin-bottom: 7.5rem;
  margin-left: 12.5rem;
  margin-right: 12.5rem;
}
.about-hero {
  font-size: 3rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}
.card-text {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
}
.card-head {
  color: rgba(0, 255, 136, 1);
  font-weight: 240px;
  height: 58px;
  font-weight: 900;
  font-size: 3rem;
}
.card-des {
  font-weight: 240px;
  height: 20px;
  opacity: 80%;
  font-weight: 400;
  font-size: 1.25rem;

}

/* grid card design */
.why-parent {
  background-color: rgba(35, 14, 61, 1);
  max-width: 1200px;
  height: 1000px;
  margin: 0 auto;
}
.why-parent-heading {
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 3rem;
  height: 58px;
  margin-top: 90px;
  display: flex;
  justify-content: center;
  
}
.why-content {
  display: grid;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 30px;
  margin-bottom: 90px;
  gap: 30px;
  grid-template-areas:
    'Premium Mobile Mobile'
    'Premium Global Global'
    'Exclusive Exclusive Rich';
}
.Premium {
  grid-area: Premium;
  width: 20.6rem;
  height: 365px;
  padding: 1.25rem;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 2.5rem;
}
.Premium-heading {
  color: rgba(255, 255, 255, 1);
  width: 18.rem;
  height: 29px;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.Premium-declaration {
  margin-top: 1rem;
  height: 144px;
  width: 18.75rem;
  opacity: 60%;
  color: rgba(255, 255, 255, 1);
}
.Mobile {
  grid-area: Mobile;
  width: 37rem;
  height: 169px;
  border-radius: 1.8rem;
  padding: 1.25rem;
  background-color: rgba(53, 17, 101, 0.4);
}
.Mobile-heading {
  color: rgba(255, 255, 255, 1);
  width: 18.75rem;
  height: 29px;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 0.3125rem;
}
.Mobile-declaration {
  color: rgba(255, 255, 255, 1);
  margin-top: 5px;
  height: 144px;
  width: 18.75rem;
  opacity: 60%;
  color: rgba(255, 255, 255, 1);
}
.Global {
  grid-area: Global;
  width: 37rem;
  height: 169px;
  border-radius: 1.8rem;
  padding: 1.25rem;
  background-color: rgba(53, 17, 101, 0.4);
}
.Global-heading {
  color: rgba(255, 255, 255, 1);
  width: 300px;
  height: 29px;
  font-weight: 700;
  font-size: 24px;
  margin-top: 5px;
}
.Global-declaration {
  color: rgba(255, 255, 255, 1);
  margin-top: 5px;
  height: 144px;
  width: 300px;
  opacity: 60%;
  color: rgba(255, 255, 255, 1);
}

.Exclusive {
  grid-area: Exclusive;
  width: 592px;
  height: 230px;
  border-radius: 30px;
  padding: 20px;
  background-color: rgba(53, 17, 101, 0.4);
}
.Exclusive-heading {
  color: rgba(255, 255, 255, 1);
  width: 300px;
  height: 29px;
  font-weight: 700;
  font-size: 24px;
  margin-top: 5px;
}
.Exclusive-declaration {
  margin-top: 5px;
  height: 72px;
  width: 300px;
  opacity: 60%;
  color: rgba(255, 255, 255, 1);
}
.Rich {
  grid-area: Rich;
  width: 285px;
  height: 230px;
  border-radius: 30px;
  padding: 20px;
  background-color: rgba(53, 17, 101, 0.4);
}
.Rich-heading {
  color: rgba(255, 255, 255, 1);
  width: 300px;
  height: 29px;
  font-weight: 700;
  font-size: 24px;
  margin-top: 5px;
}
.Rich-declaration {
  color: rgba(255, 255, 255, 1);
  opacity: 60%;
  margin-top: 5px;
}

/*  features design */
.features-content {
  height: 479px;
  background-color: rgba(26, 11, 46, 1);
  max-width: 1200px;
  margin: 0 auto;
}
.features-heading {
  width: 1200px;
  height: 58px;
  font-size: 48px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.video-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;

  
}
.feature-card {
  width: 210px;
  height: 305px;
  border-radius: 18px;
  background-color: rgba(37, 13, 68, 1);
}
.card-declaration {
  width: 200px;
  height: 30px;
  opacity: 70%;
  font-weight: 200px;
  font-size: 12px;
  color: rgba(255, 255, 255, 1);
  padding: 5px;
}
.card-heading {
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: 58px;
  font-weight: 700;
  padding: 5px;
  opacity: 70%;
}

.timer-icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 5px;
  gap: 5px;
  
}

/* host section */

.host-section {
  height: 500px;
  background-color: rgba(26, 11, 46, 1);
  max-width: 1200px;
  margin: 0 auto;
}
.host-heading {
  width: 1200px;
  height: 58px;
  font-size: 48px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
.host-experience {
  color: rgba(255, 255, 255, 1);
  width: 750px;
  height: 72px;
  opacity: 60%;
  font-weight: 300;
  font-size: 16px;
}
.host-name {
  color: rgba(255, 255, 255, 1);
  width: 896px;
  height: 39px;
  font-weight: 700;
  font-size: 32px;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  
  height: 280px;
  margin: 40px;
  border-radius: 25px;
  
  padding-left: 50px;
}
.host-container{
  background-color: rgba(53, 17, 101, 0.4);
  height: 280px;
  max-width: 1200px;
  margin: 40px;
  border-radius: 25px;

}
.host-bio {
  
  padding-left: 20px;
}
.host-social {
  display: flex;
  gap: 15px;
  border-radius: 10px;
  color: rgba(83, 60, 114, 1);
}
.host-icon {
  border-color: burlywood;
}



/* footer design */
section {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}

.footer {
  background-image: url(./assets/footer-bg.png);
  max-width: 1200px;
  height: 390px;
  margin: 0 auto;

  /* border:1px solid rgb(245, 248, 245); */
}
.footer-heading {
  margin-top: 100px;

  font-weight: 410px;
  height: 60px;
  font-size: 60px;
  color:white;
  margin-left: 140px;
}

.footer-container {
  align-items: center;
  text-align: center;
  margin-top: 120px;
  margin-left: 120px;
  margin-bottom: 120px;
  margin-right: 120px;
  /* justify-content: center; */
}
.social-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
  /* align-items: center;
  
  text-align: center; */
}
.copyright {
  font-weight: 1360px;
  height: 24px;
  opacity: 60%;
  color: rgba(250, 250, 250, 1);
  margin-top: 20px;
}
.social-content {
  display: flex;
  align-items: center;
}
.social-icon {
  display: flex;
  align-items: center;
  gap: 8px;
}
.icon-dec {
  color: white;
}

/* responsive design */
@media screen and (max-width: 576px) {
  .nav-links,
  span {
    display: none;
  }
  .han-icon {
    display: flex;
    align-items: center;
    text-align: center;
    padding-right: 20px;
    display: block;
  }
  #brand-logo {
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: white;
  }
}
